@{
  Layout = "_Layout";
}

<h1>Rock Paper Scissors</h1>

<div class="container">
  <h2 class="player1">Select Game Mode</h2>
  <div class="row">
    <form action="/player2" method="post">
      <div class="col-md-6">
        <button type="submit" id="1player" name="game-mode" value="1player">One Player</button>
      </div>
      <div class="col-md-6">
        <button type="submit" id="2player" name="game-mode" value="2player">Two Player</button>
      </div>
    </form>
  </div>
</div>
