@{
  Layout = "_Layout";
}

<h1>Rock Paper Scissors</h1>

<div class="container">
  <h2 class="player1">Select Game Mode</h2>
  <div class="row">
      <div class="col-md-6">
        <a href="/computer"><button type="submit" id="1player" name="game-mode" value="1player" class="btn btn-default playAgain">One Player</button></a>
      </div>
      <div class="col-md-6">
        <a href="/player1"><button type="submit" id="2player" name="game-mode" value="2player" class="btn btn-default playAgain right">Two Player</button></a>
      </div>
  </div>
</div>
