@{
  Layout = "_Layout";
}

<h1>Rock Paper Scissors</h1>
<h2>Player 2 Go!</h2>

<div class="container">
  <div class="row">
    <form action="/results" method="post">
      <div class="col-md-4">
        <button type="submit" id="rock" name="selected" value="rock" class="btn btn-default">Rock</button>
      </div>
      <div class="col-md-4">
        <button type="submit" id="paper" name="selected" value="paper" class="btn btn-default">Paper</button>
      </div>
      <div class="col-md-4">
        <button type="submit" id="scissors" name="selected" value="scissors" class="btn btn-default">Scissors</button>
      </div>
    </form>
  </div>
</div>
