@{
  Layout = "_Layout";
}

<h1>Rock Paper Scissors</h1>

@if (@Model.EvaluatePlay() == "draw")
{
  <h1 class="result">@Model.EvaluatePlay()!</h1>
}
else
{
  <h1 class="result">@Model.EvaluatePlay()!</h1>
}

<div class="playAgain">
  <a href="/"><button class="btn btn-default playAgain">Play again!</button></a>
</div>
